.ahmed{
    top: 40%;
    color: darkorange;
}

.form-saction{
    background-image: url(../img/abel\ tesfaye.jpg);
    background-size: cover;
    
}
.diab{
    background: transparent;
    
}